<div *ngIf="movie" class="container main-container animated fadeIn">
  <section>
    <h1>{{movie.title}}</h1>
  </section>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div id="moviePoster" class="col-md-4"  style="min-width: 400px;">
        <figure class="card-img">
                  <img  src="{{movie | peliculasImagen:true}}" class="img-poster">
        </figure>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Sinopsis</h2>
          <br>
          <p>{{movie.overview}}</p>
          <h3>Frase célebre</h3>
          <p>{{movie.tagline}}</p>
          <p id="popularity">Popularidad: <span class="rating">{{movie.popularity | number:".0-0"}}/10</span></p>
          <p>Voto promedio: <span class="rating">{{movie.vote_average}}</span></p>
          <button type="button" class="btn btn-outline-danger" (click)="back()">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
