<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-3">PeliculasApp</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container main-container animated fadeIn">
    <h3>Películas en cartelera</h3>
    <ul>
        <li>
            <div class="img-container">

              <!--    Primera columna  -->
              <section class="img-column">
                <article *ngFor="let film of peliculasEnCartelera1;let i = index">
                  <figure *ngIf="film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image"  (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image"  (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image"  (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                </article>
            </section>

              <!--    Segunda columna  -->
            <section class="img-column">
              <article *ngFor="let film of peliculasEnCartelera2;let j = index">
                <figure *ngIf="film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>

              </article>
          </section>
        </div>
      </li>
    </ul>
    <h3>Populares</h3>
    <ul>
        <li>
            <div class="img-container">

              <!--      Primera columna -->
              <section class="img-column">
                <article *ngFor="let film of populares1;let i = index">
                  <figure *ngIf="film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i==0" class="card-img img-big" >
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                </article>
            </section>

            <!--        Segunda columna   -->
            <section class="img-column">
              <article *ngFor="let film of populares2;let j = index">
                <figure *ngIf="film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
              </article>
          </section>
        </div>
      </li>
    </ul>
    <br>
   <h3>Populares entre los más pequeños</h3>
    <ul>
        <li>
            <div class="img-container">

              <!--    Primera columna   -->
              <section class="img-column">
                <article *ngFor="let film of popularesParaEnanos1;let i = index">
                  <figure *ngIf="film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i==0" class="card-img img-big">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                  <figure *ngIf="!film.poster_path && !film.backdrop_path && i<3 && i>0" class="card-img img-little">
                            <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                            <span>
                                  <p class="card-text">{{film.title}}</p>
                            </span>
                  </figure>
                </article>
            </section>

            <!--      Segunda columna   -->
            <section class="img-column">
              <article *ngFor="let film of popularesParaEnanos2;let j = index">
                <figure *ngIf="film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="https://image.tmdb.org/t/p/w500_and_h282_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j==2" class="card-img img-big">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-big">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.backdrop_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{film.poster_path}}" alt="Card image" (click)="getDetail(film.id)">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
                <figure *ngIf="!film.poster_path && !film.backdrop_path && j<2 && j>=0" class="card-img img-little">
                          <img  src="../../../assets/default.webp" alt="Card image"  (click)="getDetail(film.id)" class="img-little">
                          <span>
                                <p class="card-text">{{film.title}}</p>
                          </span>
                </figure>
              </article>
          </section>
        </div>
      </li>
    </ul>

</div>
