<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-3">PeliculasApp</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container main-container animated fadeIn">
    <app-gallery [peliculas] = peliculasEnCartelera titulo="Películas en cartelera"></app-gallery>
    <app-gallery [peliculas] = populares titulo="Populares"></app-gallery>
    <app-gallery [peliculas] = popularesParaEnanos titulo="Populares entre los más pequeños"></app-gallery>
</div>
