<div class="container main-container animated fadeIn">
 <form #buscarForm="ngForm" (keyup.enter)="onEnter(buscarForm)" novalidate>
    <h6>Buscar:</h6>
    <input #titulo="ngModel" name="titulo" [(ngModel)]="title" [ngClass]="{'not-valid':(!titulo.valid && titulo.value !== undefined)}" class="form-control mr-sm-2" type="text" placeholder="Buscar una película" minlength="5" required>
 </form>
 <div class="card-columns">
     <div class="card" *ngFor="let film of peliculas;let i = index">
       <figure>
                 <img src="{{film | peliculasImagen}}" (click)="getDetail(film.id)" class="card-img-top">
       </figure>
  <!--     <img src="..." class="card-img-top" alt="...">   -->
       <div class="card-body">
         <h5 class="card-title">{{film.title}}</h5>
         <p>{{ film.overview | slice:0:200 }}...</p>
         <button type="button" class="btn btn-outline-primary btn-block" (click)="getDetail(film.id)">Ver más ...</button>
       </div>
     </div>
 </div>

</div>
